.container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: green;
}

.top-row {
  background-color: blue;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 50%;
}
.right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  background-color: violet;
}

.main-row {
  width: 40%;
  height: 40%;
  background-color: white;
}

.bottom-row {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}

.inactive-negotiation {
  flex-basis: 30%;
}

.add-negotiation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-new-negotiation-text {margin-left: 20px;}
