.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.files-for-rent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ECF0F1;
  font-size: 18px;
  padding: 10px;
}

.drag-drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ECF0F1;
  color: #BDC3C7;
  font-size: 36px;
  height: 50vh;
  /* width: 50%; */
}

.drag-drop-dash {
  border: dashed #BDC3C7 4px;
  background-color: #ECF0F1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.drag-drop-inside {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  color: #BDC3C7;
  font-size: 36px;
}
