.box {
  margin: 10px;
  width: 30%;
  height: 30%;
  padding: 10px;
  max-width: 220px;
  max-height: 260px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: .8rem;
  letter-spacing: 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box p {
  font-size: 16px;
}

.email-input {
  width: 90%;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: .8rem;
  letter-spacing: 1px;
  outline: none;
}

.permissions-box {
  width: 90%;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.permissions {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

